body {
  font-family: Roboto;
  }

#destination-text{
  text-align: center;
}

.subtitle{
  margin-top: 10px;
}

#city{
  font-size: large;
  margin-top: 7px;
}

.container-countries{
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 32vw 32vw 32vw;
  grid-template-rows: 25vw 25vw 25vw;
  justify-items: center;
}

.container-countries > div{
  width: 24vw;
  height: 30vw;
  text-align: center;
}

.container-countries > div > img{
  width: 100%;
  height: auto;
}