body {
  font-family: Roboto;
  }

#destination-text{
  font-size: 19px;
  color: black; 
  text-align: center; 
}

.title-font{
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 6px;
}

.subtitle{
  margin-top: 0px;
}

#city{
  font-size: 14px;
  margin-top: 0px;
  
}

.countries{
  display: grid;
  grid-template-columns: 33vw 33vw 33vw;
  grid-template-rows: auto auto auto;
  justify-items: center;  
}

#city{
  justify-items: center;  
}

.container-countries{
  width: 100%;
  display: flex;
  justify-content: center;  
}

.countries > div{
  width: 24vw;
  height: 30vh;
  text-align: center;  
}

.countries > div > img{
  width: 100%;
  height: auto; 
}

.second-row{
  margin-top: 70px;
}


