*{
  margin: 0;
  padding: 0;
}

footer {
height: 200px;
width: 100%;
background-color: #000000;
color: #ffffff;
display: flex;
align-items: center;
margin-top: 50px;
}

.style-footer{
margin-left: 35px;
} 

.social-media-container{
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.social-media-container > a > img{
  width: 30px;
  padding: 0 10px 0 10 px;
}


